
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <distributed-cache name="Key:DateTime">
        <div style=" color:red">@DateTime.Now.ToString()</div>
    </distributed-cache>
    <distributed-cache name="Key:DateTimeWithExpiry" expires-after="TimeSpan.FromSeconds(10)">
        <div style=" color:green">@DateTime.Now.ToString()</div><br />
    </distributed-cache>
    <distributed-cache name="Key:ImgWithNoExpiry">
        <img src="QDHM5486.JPG" height="400" width="400" />
    </distributed-cache>

</div>
